<nav class="navbar navbar-light bg-secondary py-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white d-flex align-items-center" href="#">
      <img src="../../assets/img/logo.svg" alt="" width="60" height="60" class="d-inline-block align-text-top">
      Colegio
    </a>
  </div>
</nav>

<nav class="py-3 px-5 shadow" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item active"><span class="link-secondary text-decoration-none">Listado de profesor</span></li>
  </ol>
</nav>

<div class="container mt-5">
    <div class="row">
        <h2 class="text-center text-uppercase fs-2 fw-bolder text-black-50 mb-5">Listado de profesores</h2>
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-dark table-striped align-middle">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let profesor of profesores.nombreProfesores; let indexOfelement=index;">
                        <td>{{indexOfelement + 1}}</td>
                        <td>{{ profesor }}</td>
                        <td>
                            <button type="button"  class="btn btn-outline-info" [routerLink]="['/profesores/', profesores.idProfesores[indexOfelement]]">
                                VER
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>
