<nav class="navbar navbar-light bg-secondary py-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white d-flex align-items-center" href="#">
      <img src="../../assets/img/logo.svg" alt="" width="60" height="60" class="d-inline-block align-text-top">
      Colegio
    </a>
  </div>
</nav>

<nav class="py-3 px-5 shadow" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a class="link-info text-decoration-none" [routerLink]="['/profesores/']">Listado de profesor</a></li>
    <li class="breadcrumb-item active" aria-current="page"><span class="link-secondary">Detalle de Profesor {{findProfesor.nombreProfesor}}</span></li>
  </ol>
</nav>

<div class="container mt-5">
    <div class="row">
        <h2 class="text-center text-uppercase fs-2 fw-bolder text-black-50 mb-5">Detalle de profesor: {{findProfesor.nombreProfesor}}</h2>
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table table-dark table-striped align-middle">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Curso</th>
                        <th>Asignatura</th>
                        <th>Estudiantes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let curso of findProfesor.nombreCursos; let indexOfelement=index;">
                        <td>{{indexOfelement + 1}}</td>
                        <td>{{ curso }}</td>
                        <td>{{ findProfesor.nombreAsignaturas[indexOfelement]}}</td>
                        <td>
                            <span class="d-block" *ngFor="let estudiante of findProfesor.nombreEstudiantes[indexOfelement];">
                                {{estudiante}}
                            </span>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
        <div class="col-3"></div>
        <div class="col-5"></div>
        <div class="col-2">
            <button type="button" class="btn btn-info text-uppercase"  [routerLink]="['/profesores/']">Volver a el listado</button>
        </div>
        <div class="col-5"></div>
    </div>
</div>
